image: __IMAGE_NAME__
manifests:
  - image: __IMAGE_NAME__-x86_64
    platform:
      architecture: amd64
      os: linux
  - image: __IMAGE_NAME__-armhf
    platform:
      architecture: arm
      os: linux
  - image: __IMAGE_NAME__-aarch64
    platform:
      architecture: arm64
      os: linux
      variant: v8
