name: Update GitHub package versions

on:
  schedule:
    - cron: 0 3 * * *

jobs:
  update_github_releases:
    name: Update github package versions
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repository: ["gilbertchen/duplicacy", "just-containers/s6-overlay"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Read repository version
        id: repository
        shell: bash
        run: |
          TAG=$(curl -Ls https://api.github.com/repos/${{ matrix.repository }}/tags | jq -r "first.name")
          PACKAGE_VERSION=${TAG:1}
          BRANCH_NAME="packageupdaterbot/${{ matrix.repository }}-${PACKAGE_VERSION}"

          echo "package_version=${PACKAGE_VERSION}" >> $GITHUB_ENV
          echo "branch_name=${BRANCH_NAME}" >> $GITHUB_ENV

          echo "Repository version=${PACKAGE_VERSION}, branch=${BRANCH_NAME}"

      - name: Update Dockerfile
        shell: bash
        run: |
          ESCAPED_SEARCH=$(printf '%s\n' "${{ matrix.repository }}" | sed -e 's/[\/&]/\\&/g')
          sed -i "/.*${ESCAPED_SEARCH}.*/{n;s/.*/ENV PACKAGEVERSION=\"${{ env.package_version }}\"/}" Dockerfile

      - name: Create Pull Request, Bump ${{ matrix.repository }} to ${{ env.package_version }}
        uses: peter-evans/create-pull-request@v7.0.9
        with:
          branch: ${{ env.branch_name }}
          commit-message: Bump ${{ matrix.repository }} to ${{ env.package_version }}
          delete-branch: true
          title: Bump ${{ matrix.repository }} to ${{ env.package_version }}
          body: |
            Bump [${{ matrix.repository }}](https://github.com/${{ matrix.repository }}) to ${{ env.package_version }}.

            - Auto-generated by [create-pull-request](https://github.com/peter-evans/create-pull-request)
          labels: |
            dependencies
            github_actions
